.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form {
  display: contents;
}

.Submit {
  font-size: calc(10px + 2vmin);
  margin: 10px;
  width: 200px;
  padding: 0.3em;
  cursor: pointer;
  background-color: #94e8ff;
  color: rgb(0, 0, 0);
}

.Text-field {
  font-size: calc(10px + 2vmin);
  margin: 10px;
  padding: 0.4em;
}


.Jwtbox {
  width:calc(10px + 70vmin);
  padding: 20px;
  margin: 20px;
  background-color: rgb(37, 37, 37);
}

.Jwt-text-red {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  color: #fb015b;
}

.Jwt-text-violet {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  color: #d63aff;
}

.Jwt-text-blue {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  color: #00b9f1;
}


.jwtLogo {
  margin-bottom: 10vh;
  cursor: pointer;
  width:calc(10px + 30vmin);
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  to {
      -webkit-transform: rotate(360deg);
  }
}
