.App {
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 0;
  margin-right: 5px;
  padding-right: 5px;
  background-color: whitesmoke;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px 20px 20px 20px ;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav-Logo {
  width: calc(10px + 8vmin);
  margin: calc(10px + 4vmin) calc(10px + 1vmin);
  cursor: pointer;
  opacity: 0.5;
  transition: transform .2s;
}

.Home-Logo {
  fill: #ff40a3;
}

.Back-Logo {
  fill: #ffbb47;
}

.Nav-Logo:hover {
  opacity: 1;
  transform: scale(1.2);
}

.Form {
  display: contents;
}

.Submit {
  font-size: calc(10px + 2vmin);
  margin: 10px;
  width: 200px;
  padding: 0.3em;
  cursor: pointer;
  background-color: #94e8ff;
  color: rgb(0, 0, 0);
}



.Jwtbox {
  width:calc(10px + 75vmin);
  padding: 20px;
  margin: 20px auto;
  background-color: rgb(37, 37, 37);
}

.Jwt-text-red {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  color: #fb015b;
}

.Jwt-text-violet {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  color: #d63aff;
}

.Jwt-text-blue {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  color: #00b9f1;
}

.Jwt-text-white {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  color: #cff8c8;
}


.Jwt-part {
  cursor: pointer;
  word-break: break-all;
  transition: transform .3s;
}

.jwtLogo {
  cursor: pointer;
  width:calc(10px + 30vmin);
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  to {
      -webkit-transform: rotate(360deg);
  }
}


.Heading {
  font-size: calc(10px + 6vmin);
  margin: 20px;
}

.Para {
  font-size: calc(8px + 2.7vmin);
  text-align: center;
  width: 65vw;
  margin: 2vh auto;
  word-wrap: break-word;
}

.Para-green {
  color: greenyellow;
}

.Para-red {
  color: red;
}

.Link {
  color: #00b9f1;
  text-decoration: underline;
  cursor: pointer;
}


.Text-field {
  font-size: calc(15px + 2vmin);
  margin: 10px;
  padding: 0.4em;
  padding: 3vmin;
  border: 1vmin solid #ffbb47;
  border-radius: 10%;
  outline: none;
  max-width: 20vw;
}


.Submit-Button {
  font-size: calc(15px + 2vmin);
  padding: 3vmin;
  border: 1vmin solid #ffbb47;
  margin: 2vmin;
  background-color: #56472f;
  border-radius: 30%;
  cursor: pointer;
  opacity: 1;
}

.Light-Button {
  opacity: 0.5;
}

.Light-Button:hover {
  opacity: 1;
}

.Jwt-Example {
  margin: 5vh auto ;
  width: 65vw;
}
